---
title: "BGP AS_PATH Verification Based on Forwarding Commitment (FC) Objects"
abbrev: "FC-based AS_PATH Verification"
category: std

docname: draft-xu-sidrops-fc-verification-latest
submissiontype: IETF  # also: "independent", "editorial", "IAB", or "IRTF"
number:
date:
consensus: true
v: 3
area: ""
workgroup: "SIDR Operations"
# keyword:
# - next generation
# - unicorn
# - sparkling distributed ledger
venue:
  group: "SIDR Operations"
  type: ""
  mail: "sidrops@ietf.org"
  arch: "https://mailarchive.ietf.org/arch/browse/sidrops/"
  github: "FCBGP/fc-verification"
  latest: "https://FCBGP.github.io/fc-verification/draft-xu-sidrops-fc-verification.html"

author:
  -
      fullname: Ke Xu
      org: Tsinghua University
      city: Beijing
      country: China
      email: xuke@tsinghua.edu.cn


normative:

informative:


--- abstract

TODO Abstract


--- middle

# Introduction

TODO Introduction


# Conventions and Definitions

{::boilerplate bcp14-tagged}


# Security Considerations

TODO Security


# IANA Considerations

This document has no IANA actions.


--- back

# Acknowledgments
{:numbered="false"}

TODO acknowledge.
